
*.xml
*.xml
*.pyc
Project/garage_web/.idea/workspace.xml
*.iml
Project/garage_web/.idea/garage_web.iml
*.pyc
*.xml
*.pyc
Project/garage_web/.idea/
*/__pycache__/


# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files # 
*.bak 

# If you are using PyCharm # 
.idea/**/workspace.xml 
.idea/**/tasks.xml 
.idea/dictionaries 
.idea/**/dataSources/ 
.idea/**/dataSources.ids 
.idea/**/dataSources.xml 
.idea/**/dataSources.local.xml 
.idea/**/sqlDataSources.xml 
.idea/**/dynamic.xml 
.idea/**/uiDesigner.xml 
.idea/**/gradle.xml 
.idea/**/libraries 
*.iws /out/ 

# Python # 
*.py[cod] 
*$py.class 

# Distribution / packaging 
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports 
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Jupyter Notebook 
.ipynb_checkpoints 

# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 

# SageMath parsed files 
*.sage.py 

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# mkdocs documentation 
/site 

# mypy 
.mypy_cache/ 

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# sftp configuration file 
sftp-config.json 

# Package control specific files Package 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

Project/garage_web/garage/__pycache__/__init__.cpython-37.pyc
Project/garage_web/garage/__pycache__/admin.cpython-37.pyc
Project/garage_web/garage/__pycache__/models.cpython-37.pyc
Project/garage_web/garage/__pycache__/urls.cpython-37.pyc
Project/garage_web/garage/__pycache__/views.cpython-37.pyc
Project/garage_web/garage/migrations/__pycache__/0001_initial.cpython-37.pyc
Project/garage_web/garage/migrations/__pycache__/__init__.cpython-37.pyc
/AlgorithmMaker/build
.DS_Store
Project/garage_web/mysite/settings.py
ChartPlotAnalizer/.vs/ChartPlotAnalizer/v16/.suo
ChartPlotAnalizer/.vs/ChartPlotAnalizer/v16/Browse.VC.db
ChartPlotAnalizer/.vs/ChartPlotAnalizer/v16/Browse.VC.db-shm
ChartPlotAnalizer/.vs/ChartPlotAnalizer/v16/Browse.VC.db-wal
ChartPlotAnalizer/.vs/ChartPlotAnalizer/v16/Browse.VC.opendb
ChartPlotAnalizer/.vs/ChartPlotAnalizer/v16/ipch/AutoPCH/178d20a6f5c1eaca/CHARTPLOTANALIZER.ipch
ChartPlotAnalizer/.vs/ChartPlotAnalizer/v16/ipch/AutoPCH/461e073aa0bd43b4/CHARTPLOTANALIZER.ipch
ChartPlotAnalizer/.vs/ChartPlotAnalizer/v16/ipch/AutoPCH/777fc93990a90ebd/CHARTANALIZER.ipch
ChartPlotAnalizer/.vs/ChartPlotAnalizer/v16/ipch/AutoPCH/f1f8a1fa0eb9adcb/CHARTANALIZER.ipch
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartAnalizer.nativecodeanalysis.sarif
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartAnalizer.obj
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartPlo.f9616113.tlog/ChartPlotAnalizer.lastbuildstate
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartPlo.f9616113.tlog/CL.command.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartPlo.f9616113.tlog/CL.read.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartPlo.f9616113.tlog/CL.write.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartPlo.f9616113.tlog/link.command.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartPlo.f9616113.tlog/link.read.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartPlo.f9616113.tlog/link.write.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartPlotAnalizer.nativecodeanalysis.sarif
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartPlotAnalizer.obj
ChartPlotAnalizer/ChartPlotAnalizer/Debug/ChartPlotAnalizer.vcxproj.FileListAbsolute.txt
ChartPlotAnalizer/ChartPlotAnalizer/Debug/CodeAnalysisResultManifest.txt
ChartPlotAnalizer/ChartPlotAnalizer/Debug/vc142.idb
ChartPlotAnalizer/ChartPlotAnalizer/Debug/vc142.pdb
ChartPlotAnalizer/ChartPlotAnalizer/Release/ChartAnalizer.obj
ChartPlotAnalizer/ChartPlotAnalizer/Release/ChartPlo.f9616113.tlog/ChartPlotAnalizer.lastbuildstate
ChartPlotAnalizer/ChartPlotAnalizer/Release/ChartPlo.f9616113.tlog/ChartPlotAnalizer.write.1u.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Release/ChartPlo.f9616113.tlog/CL.command.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Release/ChartPlo.f9616113.tlog/CL.read.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Release/ChartPlo.f9616113.tlog/CL.write.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Release/ChartPlo.f9616113.tlog/link.command.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Release/ChartPlo.f9616113.tlog/link.read.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Release/ChartPlo.f9616113.tlog/link.write.1.tlog
ChartPlotAnalizer/ChartPlotAnalizer/Release/ChartPlotAnalizer.obj
ChartPlotAnalizer/ChartPlotAnalizer/Release/vc142.pdb
ChartPlotAnalizer/Debug/ChartPlotAnalizer.exe
ChartPlotAnalizer/Debug/ChartPlotAnalizer.ilk
ChartPlotAnalizer/Debug/ChartPlotAnalizer.pdb
ChartPlotAnalizer/Release/ChartPlotAnalizer.exe
ChartPlotAnalizer/Release/ChartPlotAnalizer.iobj
ChartPlotAnalizer/Release/ChartPlotAnalizer.ipdb
ChartPlotAnalizer/Release/ChartPlotAnalizer.pdb
