<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>auto</title>

    {% load staticfiles %}

    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'garage/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{% static 'garage/css/creative.css' %}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'garage/images/icons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'garage/images/icons/favicon-16x16.png'%}">

    <style>
        .tooltip2 {
            position: relative;
            display: inline-block;
        }

        .tooltip2 .tooltiptext {
            visibility: hidden;
            width: 150px;
            top: 100%;
            left: 50%;
            margin-left: -60px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip2:hover .tooltiptext {
            visibility: visible;
        }

    </style>

</head>

<body id="page-top">



    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <img class="img" href="/" src="{% static 'garage/img/logo_box.png'%}" alt="" width="50" height="25">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <font size=4.5><B>&nbsp Algorithm Trading</B></font>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/algomaker">알고리즘 만들기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/mypage">MY알고리즘</a>
                    </li>
                    <li class="nav-item tooltip2">
                        <a class="nav-link js-scroll-trigger">마켓플레이스</a>

                        <span class="tooltiptext">
                            구현 예정<br>
                        </span>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger"> {{ user.username }} </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="logout">로그아웃</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="signup">회원가입</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">쉽고, 편하게<br>알고리즘 트레이딩</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5">알고리즘 모듈을 활용해 투자전략을 알고리즘으로 만들어보세요</p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">더 알아보기</a>
                </div>
            </div>
        </div>
    </header>


    <!-- about : make Section-->
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div data-wow-duration="1s" class="wow fadeInUp">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <img class="img" href="/" src="{% static 'garage/images/make_sample2.png'%}" alt="">
                    </div>
                    <div class="col-lg-6 text-center">
                        <p><b>01</b></p>
                        <h1 class="text-black"><b>코딩 없이 간편하게,<br>다양한 지표카드로 만드는<br>알고리즘 투자전략</b></h1>
                        <h3 class="text-black">드래그앤드랍으로 지표카드를 설정하여<br>다양한 알고리즘을 만들 수 있습니다.<br><br>자신만의 투자전략을 만들어보세요</h3>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- divider -->
    <div class="row" id="divider">
    </div>

    <!-- about2 : test Section-->
    <section class="page-section bg-primary" id="about2">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <p><b>02</b></p>
                    <h1 class="text-black"><b>제작한 알고리즘을<br>과거데이터로 검증하여 <br>전략의 질을 향상시키세요</b></h1>
                    <h3 class="text-black">클릭 한번으로 투자전략의 수익률을 <br>확인할 수 있습니다.<br><br>여러번의 테스트를 통해 더욱 완벽한 <br>투자전략을 만들어 보세요
                    </h3>
                </div>
                <div class="col-lg-6 text-center">
                    <div data-wow-duration="2s" class="wow fadeInRight">
                        <img class="img" href="/" src="{% static 'garage/images/test_sample.png'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- divider -->
    <div class="row" id="divider">
    </div>

    <!-- about3 : test Section-->
    <section class="page-section bg-primary" id="about3">
        <div class="container">

            <div class="row justify content-center">
                <div class="col-lg-6">
                    <div data-wow-duration="1.3s" class="wow fadeIn">
                        <img class="img" href="/" src="{% static 'garage/images/logo_exchange.png'%}" alt="">
                    </div>
                    <div data-wow-duration="1.3s" data-wow-delay="0.2s" class="wow fadeInRight">
                        <img class="img" href="/" src="{% static 'garage/images/logo_exchange2.png'%}" alt="">
                    </div>
                    <div data-wow-duration="1.3s" data-wow-delay="0.4s" class="wow fadeInRight">
                        <img class="img" href="/" src="{% static 'garage/images/logo_exchange3.png'%}" alt="">
                    </div>
                    <div data-wow-duration="1.3s" data-wow-delay="0.6s" class="wow fadeInRight">
                        <img class="img" href="/" src="{% static 'garage/images/logo_exchange4.png'%}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <p><b>03</b></p>
                    <h1 class="text-black"><b>다양한 거래소와<br>자동 주문을 연결하고,<br>전략을 실행해보세요</b></h1>
                    <h3 class="text-black">복잡한 시스템 설정없이 거래소와<br> 계좌 및 주문을 연결할 수 있습니다.<br><br>알고리즘 트레이딩을 시작해보세요</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- divider -->
    <div class="row" id="divider">
    </div>


    <!-- about4 : market Section-->
    <section class="page-section bg-primary" id="about4">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <p><b>04</b></p>
                    <h1 class="text-black"><b>알고리즘 마켓에서<br>다양한 투자전략을<br>구매해보세요 <br></b></h1>
                    <h3 class="text-black">전문가들의 다양한 투자전략을<br>
                        비교하고 구매할 수 있습니다.<br><br>구매한 알고리즘으로<br> 새로운 투자를 시작해보세요 <br>
                    </h3>
                </div>
                <div class="col-lg-6 text-center">
                    <div data-wow-duration="0.7s" class="wow fadeInUp">
                        <img class="img" href="/" src="{% static 'garage/images/market_sample.png'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row">

                <div class="col-lg-8">
                    <img class="img" href="/" src="{% static 'garage/images/logo_koscom.png'%}" alt="">
                    <div class="text-muted">
                        <p><br>서울시 영등포구 여의나루로 76 ㈜코스콤<br>
                            대표전화 : 02-767-7114<br><br>
                            © KOSCOM CORP. ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
                <div class="col-lg-4">
            <img class="img" href="/" src="{% static 'garage/img/logo_box.png'%}" alt="" width="100" height="50">
            <a>
                <font size=4.5><B>&nbsp Algorithm Trading</B></font>
            </a>
                </div>

            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    {% load staticfiles %}
    <script src="{% static 'garage/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'garage/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'garage/vendor/jquery-easing/jquery.easing.min.js'%}"></script>
    <script src="{% static 'garage/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'garage/js/creative.min.js'%}"></script>

    <!-- scroll -->
    <link rel="stylesheet" href="{% static 'garage/css/animate.css'%}">
    <script src="https://wowjs.uk/dist/wow.min.js"></script>
    <script>
        new WOW().init();

    </script>

    <script src="{% static 'garage/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>
</body>

</html>
