<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>auto</title>

    {% load staticfiles %}

    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'garage/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{% static 'garage/css/creative_mypage.css' %}" rel="stylesheet">

    <!-- slider -->

    <link rel="stylesheet" type="text/css" href="{% static 'garage/vendor/slick/slick.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'garage/vendor/slick/slick-theme.css'%}" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'garage/images/icons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'garage/images/icons/favicon-16x16.png'%}">
    <script type="text/javascript">
        function changeIframeUrl(url)
        {
            document.getElementById("main_frame").src = url;
        }

        function test(text)
        {
            console.log(document.getElementById("start").value);
        }
    </script>
</head>

<body id="page-top">



    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <img class="img" href="/" src="{% static 'garage/img/logo_box.png'%}" alt="" width="50" height="25">
            <a class="navbar-brand js-scroll-trigger" href="/">
                <font size=4.5><B>&nbsp Algorithm Trading</B></font>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/intro">소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/algomaker">알고리즘 만들기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/mypage">MY알고리즘</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" >마켓플레이스</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" > {{ user.username }} </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/logout">로그아웃</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="signup">회원가입</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- section customer-->
<!--    <section class="page-section-small" id="customer">-->
<!--        <div class="container">-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <div class="mt-5 pt-5 text-center">-->
<!--                        <img class="img" href="/" src="{% static 'garage/images/user.png'%}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row justify-content-center">-->
<!--                <div class="col-lg-3 col-md-6">-->
<!--                    <div class="mt-1 pt-3 text-center">-->
<!--                        <h5 class="mb-2">{{ user.username }}</h5>-->
<!--                        <h5 class="mb-3">{{ user.email}}</h5>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- section algorithm-->
    <section class="page-section-small" id="algorithm">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="mt-1 pt-3">
                        <h4 class="menu">내 알고리즘</h4>
                    </div>
                </div>
            </div>
            <div style="padding:20px 30px;">
                <div id="slider-div" href="/loading">
                    {% for name,date,seq,hd,start,end in algo_info %}
                        <div>
<!--                                <div class="slider_box" OnClick="location.href ='/loading?algoname={{seq}}'" style="cursor:pointer;">-->
                            <div class="slider_box" onClick="changeIframeUrl('/loading?algoname={{seq}}')">
                            <div class="wrap">
                                    <h4 style="font-size: 0.6em">{{name}}_{{seq}}</h4>
<!--                                       <h5><br>{{seq}}</h5>-->
<!--                                       <h6>{{seq}}</h6>-->
<!--                                    <h5><br>수익률 4.5%</h5>-->
                                       <h6 style="font-size: 0.4em" >{{start}}~{{end}}</h6>
                                       <h6 style="font-size: 0.4em">기준봉 : {{hd}}</h6>
                                    <h6><br>작성일 : {{date}}</h6>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>

{#    <div align="center">#}
{#    <form action="">#}
{#        <label for="start">시작:</label>#}
{#        <input type="date" id="start" name="start">#}
{#        <button type="button" onclick="test(start)"> 설정 </button>#}
{#    </form>#}
{#    </div>#}
{##}
{#    <div align="center">#}
{#        <form action="" >#}
{#            <label for="end">종료:</label>#}
{#            <input type="date" id="start" name="start">#}
{#            <button type="button"> 설정 </button>#}
{#        </form>#}
{#    </div>#}


    <iframe src="/ready" frameborder="0" width="100%" height="100%" name="main_frame" id="main_frame"></iframe>


    <!-- Bootstrap core JavaScript -->
    {% load staticfiles %}
    <script src="{% static 'garage/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'garage/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Plugin JavaScript -->

    <script src="{% static 'garage/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'garage/js/creative.min.js'%}"></script>


    <script src="{% static 'garage/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>
    <!-- jquery:slick -->
    <script type="text/javascript" src="{% static 'garage/vendor/slick/slick.js'%}"></script>
    <script>
        $(function() {
            $('#slider-div').slick({
                slide: 'div', //슬라이드 되어야 할 태그 ex) div, li 
                infinite: true, //무한 반복 옵션	 
                slidesToShow: 5, // 한 화면에 보여질 컨텐츠 개수
                slidesToScroll: 1, //스크롤 한번에 움직일 컨텐츠 개수
                speed: 120, // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
                arrows: true, // 옆으로 이동하는 화살표 표시 여부
                dots: true, // 스크롤바 아래 점으로 페이지네이션 여부
                autoplay: false, // 자동 스크롤 사용 여부
                autoplaySpeed: 10000, // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
                pauseOnHover: true, // 슬라이드 이동	시 마우스 호버하면 슬라이더 멈추게 설정
                vertical: false, // 세로 방향 슬라이드 옵션
                prevArrow: "<button type='button' class='slick-prev'>Previous</button>", // 이전 화살표 모양 설정
                nextArrow: "<button type='button' class='slick-next'>Next</button>", // 다음 화살표 모양 설정
                dotsClass: "slick-dots", //아래 나오는 페이지네이션(점) css class 지정
                draggable: true, //드래그 가능 여부 

                responsive: [ // 반응형 웹 구현 옵션
                                        {
                        breakpoint: 1030, //화면 사이즈 960px
                        settings: {
                            //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
                            slidesToShow: 4
                        }
                    },
                    {
                        breakpoint: 960, //화면 사이즈 960px
                        settings: {
                            //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 768, //화면 사이즈 768px
                        settings: {
                            //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
                            slidesToShow: 2
                        }
                    },
                                        {
                        breakpoint: 500, //화면 사이즈 768px
                        settings: {
                            //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
                            slidesToShow: 2
                        }
                    }
                    
                ]

            });
        })

    </script>
</body>

</html>
