<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>auto</title>

    {% load staticfiles %}

    <!-- Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'garage/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{% static 'garage/css/creative_mypage.css' %}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'garage/images/icons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'garage/images/icons/favicon-16x16.png'%}">

</head>

<body id="page-top">



    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <img class="img" href="/" src="{% static 'garage/img/logo_box.png'%}" alt="" width="50" height="25">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <font size=4.5><B>&nbsp Algorithm Trading</B></font>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">소개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/algomaker">알고리즘 만들기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/test">알고리즘 관리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="">마켓플레이스</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="mypage"> 마이페이지 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="logout">로그아웃</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="signup">회원가입</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

   
    <!-- Footer -->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row">

                <div class="col-lg-10">
                    <div class="text-muted">
                        <p><br><br>서울시 영등포구 여의나루로 76 ㈜코스콤<br>
                            대표전화 : 02-767-7114<br><br>
                            © KOSCOM CORP. ALL RIGHTS RESERVED.</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    {% load staticfiles %}
    <script src="{% static 'garage/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'garage/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'garage/vendor/jquery-easing/jquery.easing.min.js'%}"></script>
    <script src="{% static 'garage/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'garage/js/creative.min.js'%}"></script>

    <!-- scroll -->


    <script src="{% static 'garage/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>
</body>

</html>
