<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    {% load staticfiles %}
    <!-- Fontfaces CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">

    <!-- Bootstrap CSS-->
    <link href="{% static 'garage/test/vendor/test_bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Plugin CSS -->
    <link href="{% static 'garage/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Theme CSS - Includes Bootstrap -->
    <link href="{% static 'garage/test/css/theme_test.css' %}" rel="stylesheet">

    <!-- slider -->
    <link rel="stylesheet" type="text/css" href="{% static 'garage/vendor/slick/slick.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'garage/vendor/slick/slick-theme.css'%}" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'garage/images/icons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'garage/images/icons/favicon-16x16.png'%}">

    <!-- Main CSS-->
    <link href="{% static 'garage/css/creative_mypage.css' %}" rel="stylesheet">

    <!--    Google Chart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!--거래내역 테이블-->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['table']});
        google.charts.setOnLoadCallback(drawTable);

        function drawTable() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', '거래일자');
            data.addColumn('string', '거래유형');
            data.addColumn('number', '가격');
            data.addColumn('number', '수량');
            data.addColumn('number', '평가수익률');
            data.addColumn('number', '누적수익률');
            data.addColumn('number', '전체잔고');
            //data.addRows([ ['2019-01-11', 'buy', '', '0.1%', '1.1%', '12345'],])
            data.addRows( {{trades|safe}} );

            var table = new google.visualization.Table(document.getElementById('table_div'));

            table.draw(data, {showRowNumber: false, width: '100%', height: '100%'});
        }
    </script>

    <!--시세 및 매수/매도 그래프-->
    <script type='text/javascript'>
        google.charts.load('current', {'packages':['annotationchart']});
        google.charts.setOnLoadCallback(drawChart2);

        function drawChart2() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'buy');
            data.addColumn('string', 'SEll/BUY');
            data.addColumn('string', 'info');
            data.addColumn('number', 'sell');
            data.addColumn('string', 'SEll/BUY');
            data.addColumn('string', 'info');
            var i;
            temp = {{datas|safe}};
            trade_list = {{trades|safe}} ;
            var trade_index=0;
            var trade_length = trade_list.length

            {#매일/매시간 시세를 불러오는 도중 거래내역과 비교를 해서 그 당시거래가 있을 경우 해당 거래 표시#}
            for ( i=0 ; i< temp.length  ;i++)
            {
                if( trade_index < trade_length && temp[i][8] == trade_list[trade_index][0]){
                    if( trade_list[trade_index][1] == 'buy') {
                        data.addRows([[new Date(temp[i][3]), temp[i][6], trade_list[trade_index][1], trade_list[trade_index][3] + "btc",temp[i][6], undefined, undefined]]);
                    }
                    else{
                        data.addRows([[new Date(temp[i][3]), temp[i][6], undefined, undefined,temp[i][6], trade_list[trade_index][1], trade_list[trade_index][3] + "btc"]]);
                    }
                    trade_index = trade_index + 1
                }
                else{
                    data.addRows([[new Date(temp[i][3]), temp[i][6], undefined, undefined,temp[i][6], undefined, undefined]]);
                }
            }

            var chart = new google.visualization.AnnotationChart(document.getElementById('chart_div2'));

            var options = {
                displayAnnotations: true,
                displayAnnotationsFilter: true,
                scaleColumns:[0,1,1],
                thickness:3,
                fontSize: 24,
                colors:['#24E1E8','#6C63FF'],
                annotationsWidth: 17,
            };
            chart.draw(data, options);
        }
    </script>

    <style>
        .tooltip2 {
            position: relative;
            display: inline-block;
        }

        .tooltip2 .tooltiptext {
            visibility: hidden;
            width: 60px;
            top: -10%;
            left: 140%;
            margin-left: -60px;
            background-color: white;
            color: #6C63FF;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltip2:hover .tooltiptext {
            visibility: visible;
        }
    </style>

</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="mt-1 pt-5">
                        <h3 class="menu">백테스트 결과 [ {{algoreal|safe}}_{{algoname|safe}} ]</h3>
                        <!--                        <h5>알고리즘 명 : {{algoname|safe}}</h5>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row m-t-25">
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c1">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="text">
                                            <h5 style="color: #6C63FF">총 손익 {{bal_diff|safe}}원</h5>
                                            <span>평가 손익 : {{eval_prof|safe}}원<br>
                                                    실현 손익 : {{real_prof|safe}}원</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c2">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="text">
                                            <h5 style="color: #6C63FF">수익률 {{fin_inc|safe}}%</h5>
                                            <span>투자원금 : {{init_bal|safe}}원<br>
                                                현재자산 : {{fin_bal|safe}}원
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c3" id="c3-p-l-small">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="text">
                                            <h5 style="color: #6C63FF">
                                                원화 잔고 {{krw_bal|safe}}원<br></h5>
                                            <h5 class="tooltip2" style="color: #6C63FF">
                                                평가 잔고 {{btc_exch|safe}}원
                                                <span class="tooltiptext" style="color: #6C63FF">
                                                         {{btc_bal|safe}}BTC
                                                </span>
                                            </h5>
                                            <br>
                                            <span>&nbsp&nbsp- 매입 단가 : {{avg_prc|safe}}원<br>
                                                &nbsp&nbsp- 금일 종가 : {{cur_prc|safe}}원
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <div class="overview-item overview-item--c4">
                                <div class="overview__inner">
                                    <div class="overview-box clearfix">
                                        <div class="text">
                                            <h5 style="color: #6C63FF" id="h5-n-m-b">백테스트 기간 </h5>
                                            <span>&nbsp&nbsp- {{st_date|safe}}~{{end_date|safe}}</span>
                                            <h5 style="color: #6C63FF" id="h5-m-t-n-m-b">거래 횟수 {{trade_num|safe}}건 </h5>
                                            <span>&nbsp&nbsp- 매수 {{buy_num|safe}}건, 매도 {{sell_num|safe}}건</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="chart">
                            <div class="au-card recent-report2">
                                <!-- 차트는 여기에 넣어주세용  -->
                                <div id="chart_div2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="row m-t-25">
                        <div class="transaction-item">
                            <div>
                                <h2>거래내역 </h2>
                                <a>&nbsp</a>
                            </div>
                            <!-- 거래내역은 여기에 넣어주세용  -->
                            <div id="table_div" style="height:85%">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
</div>

</div>

<!-- Bootstrap core JavaScript -->
{% load staticfiles %}
<script src="{% static 'garage/vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'garage/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

<!-- Plugin JavaScript -->

<script src="{% static 'garage/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'garage/js/creative.min.js'%}"></script>


<script src="{% static 'garage/vendor/magnific-popup/jquery.magnific-popup.min.js'%}"></script>
<!-- jquery:slick -->
<script type="text/javascript" src="{% static 'garage/vendor/slick/slick.js'%}"></script>
<script>
    $(function() {
        $('#slider-div').slick({
            slide: 'div', //슬라이드 되어야 할 태그 ex) div, li
            infinite: true, //무한 반복 옵션
            slidesToShow: 5, // 한 화면에 보여질 컨텐츠 개수
            slidesToScroll: 1, //스크롤 한번에 움직일 컨텐츠 개수
            speed: 120, // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
            arrows: true, // 옆으로 이동하는 화살표 표시 여부
            dots: true, // 스크롤바 아래 점으로 페이지네이션 여부
            autoplay: false, // 자동 스크롤 사용 여부
            autoplaySpeed: 10000, // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
            pauseOnHover: true, // 슬라이드 이동	시 마우스 호버하면 슬라이더 멈추게 설정
            vertical: false, // 세로 방향 슬라이드 옵션
            prevArrow: "<button type='button' class='slick-prev'>Previous</button>", // 이전 화살표 모양 설정
            nextArrow: "<button type='button' class='slick-next'>Next</button>", // 다음 화살표 모양 설정
            dotsClass: "slick-dots", //아래 나오는 페이지네이션(점) css class 지정
            draggable: true, //드래그 가능 여부

            responsive: [ // 반응형 웹 구현 옵션
                {
                    breakpoint: 1030, //화면 사이즈 960px
                    settings: {
                        //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 960, //화면 사이즈 960px
                    settings: {
                        //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768, //화면 사이즈 768px
                    settings: {
                        //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 500, //화면 사이즈 768px
                    settings: {
                        //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
                        slidesToShow: 2
                    }
                }
            ]
        });
    })

</script>
</body>

</html>
<!-- end document-->
